<div class="contact-icons">
  <a href="{{ '/assets/pdf/cv.pdf' | relative_url }}" title="CV" target="_blank" style="margin-right: 10px;">
    <img src="{{ '/assets/img/cv_icon.png' | relative_url }}" alt="CV" style="height: 1.5rem; width: auto; vertical-align: middle; margin-bottom: 3px;">
  </a>

  <a href="https://orcid.org/0009-0009-1734-2959" title="ORCID" target="_blank" style="margin-right: 10px;">
    <img src="{{ '/assets/img/orcid_icon.png' | relative_url }}" alt="ORCID" style="height: 1.5rem; width: auto; vertical-align: middle; margin-bottom: 3px;">
  </a>

  <a href="https://www.researchgate.net/profile/Lirui-Guo?ev=hdr_xprf" title="ResearchGate" target="_blank">
    <i class="ai ai-researchgate"></i>
  </a>

  <a href="https://scholar.google.com/citations?user=13uW1k0AAAAJ" title="Google Scholar" target="_blank">
    <i class="ai ai-google-scholar"></i>
  </a>

  <a href="https://www.linkedin.com/in/lirui-guo" title="LinkedIn" target="_blank">
    <i class="fab fa-linkedin"></i>
  </a>
</div>

<div class="contact-note">
  {{ site.contact_note }}
</div>
